<%= render 'container', recipe: @recipe do %>
  <div class="ui segment">
    <%= form_for @recipe do |form| %>

      <div class="ui big form">
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description %>
        </div>

        <div class="ui grid">
          <div class="twelve wide column">
            <%= form.submit 'Save Recipe', class: "ui positive fluid button" %>
          </div>
          <div class="four wide column">
            <button class="ui basic red fluid button">Delete</button>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<% end %>
