
<div class="recipes-page">
  <div class="header">
    <div class="feature-image">
      <% if @recipe.id == 3 %>
        <%= image_tag 'choc-bic' %>
      <% else %>
        <%= image_tag 'fried-chicken' %>
      <% end %>
    </div>

    <h1><%= @recipe.name %></h1>

    <div class="admin-actions">
      <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    </div>
  </div>

  <div class="main">
    <div class="ingredients">
      <p>Ingredients...</p>
      <% if @recipe.ingredients.any? %>
        <% @recipe.recipe_ingredients.each do |recipeingredient| %>
          <%= recipeingredient.quantity %>
          <%= recipeingredient.ingredient.name %>
          <br>
        <% end %>
      <% else %>
      "No Ingredients Added yet!"
      <% end %>
    </div>

    <div class="steps">
      <%= @markdown.render(@recipe.description).html_safe %>
    </div>
  </div>

</div>
