<% content_for :before_app do %>
  <%= render 'components/featured' %>
<% end %>

<div class="recipe ui unstackable items">
  <div class="item">
    <div class="recipe__image ui medium image">
      <%= image_tag 'wireframe/white-image' %>
    </div>
    <div class="content">
      <div class="ui huge header"><%= @recipe.name %></div>
      <div class="meta">
        <span>by <%= @recipe.user.display_name %></span>
      </div>
      <div class="description">
        <p><%= @recipe.description %></p>

        <% if !current_user.nil? %>
          <% if @recipe.user === current_user || current_user.admin? %>
            <%= button_to "Edit", edit_recipe_path(@recipe), class: 'ui button', method: :get %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
