<h1> <%= @ingredient.name %> </h1>

Recipes that use <%= @ingredient.name.downcase %>...
<br>
<% if @ingredient.recipes.any? %>
  <% @ingredient.recipes.each do |recipe| %>
    <%= recipe.name %>
    <br>
  <% end %>
<% else %>
  "Not Used in any Recipes Yet!"
<% end %>

<%= link_to 'Back', ingredients_path %>
<%= link_to 'Edit', edit_ingredient_path(@ingredient.id) %>
