<div class="sidebar">
  <%= link_to root_path, class: 'logo' do %>
    Honeybee
    <%= image_tag "bee.svg", class: 'bee-icon' %>
  <% end %>

  <div class="sidebar__user-area">
    <% if current_user %>

      <%= link_to current_user do %>
        <div class="sidebar__user-area__avatar">
          <%= image_tag 'racoon'%>
        </div>
      <% end %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <div class="ui divider" ></div>
      <%= link_to 'Recipe Randomiser', randomiser_index_path %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </div>    

  <% if current_user %>
    <%= button_to 'New Recipe', new_recipe_path, class: 'sidebar__new-recipe', method: :get %>
  <% end %>
</div>
