<!DOCTYPE html>
<html>
  <head>
    <title>Honeybee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300|Pacifico|Open+Sans|Cabin" rel="stylesheet">
  </head>

  <body>
    <div id="container">
      <%= render 'layouts/sidebar' %>

      <main>
        <%= yield(:before_app) %>

        <div class="app">
          <%= render 'layouts/flash' %>

          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
